.sign-up-testimonial-item{
    background: #ffffff;
    padding: 10px;
    padding-bottom: 35px;
    
    margin-bottom: 30px;

}
.driver-center-sign-up-form {
    margin-left: 29%;
    text-align: center;
    margin-top: 40px;
}
@media screen and (max-width: 860px) {
    .driver-center-sign-up-form {
    margin-left: 2%;
    text-align: center;
    margin-top: 20px;
}
}
.driver-center-sign-up-box{
    background: #fff;
    border: 0.5px solid #d9d9d9;
    align-content: center;
}
.driver-circular-top-image {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 100%;
    min-height: 80px !important;
    min-width: 80px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
   
    text-align: center;
    vertical-align: bottom;
    background: #fff;
    -webkit-transform: translate3d(-50%, -10px, 0);
    -moz-transform: translate3d(-50%, -10px, 0);
    transform: translate3d(-50%, -435px, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.driver-circular-top-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
    cursor: pointer;
}
@media screen and (max-width: 860px) {
    .driver-circular-top-image {
  
    -webkit-transform: translate3d(-50%, -10px, 0);
    -moz-transform: translate3d(-50%, -10px, 0);
    transform: translate3d(-50%, -435px, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

}
.registration-form {
    padding-top: 50px;
}
.form-input-group{
    padding-top: 10px;
    border-bottom: 1px-solid #dadada;
}
.form-input-group > span > i{
    color: #8a8a8a;
}
.form-input {
    border: 0px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    outline: none;
    
}
.form-addon{
    background-color: #fff; 
     border: 0px;
    padding: 0px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    border-bottom: 1px solid #dadada;
    width: 100%;
}

.form-input input:active {
    border: 1px solid #ff656c;
}
.btn-round {
    border-radius: 22.5px;
}
.btn-registration {
    margin-top: 30px;
    width: 150px;
    font-family: Handel-Gothic-BT;
}
select{
    width: 100%;
}
input[type=text]:focus .form-input:focus, input[type=password]:focus .form-input:focus, input[type=email]:focus .form-input:focus{ 
    box-shadow:0 0 5px rgba(255, 255, 255, 255);
 
  border: 1px solid rgba(255, 255, 255, 1);
  
}
input[type=text].form-input, input[type=password].form-input, input[type=email].form-input { 
    box-shadow:0 0 5px rgba(255, 255, 255, 255);
 
  border: 1px solid rgba(255, 255, 255, 1);
  
}