@font-face {
    font-family: Handel-Gothic-BT;
    src: url(./fonts/Handel-Gothic-BT.ttf.woff);
}
@font-face {
    font-family: Handel-Gothic-Reg;
    src: url(./fonts/HandelGo.ttf);
}
@font-face {
    font-family: Open-Sans;
    src: url(./fonts/OpenSansRegular.woff);
}
