
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

@import url(https://fonts.googleapis.com/css?family=Merriweather:400);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);

@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500,600);

@import url(https://fonts.googleapis.com/css?family=Parisienne);

.font-1 {
    font-family: Hind Siliguri;
}

.font-2 {
    font-family: Roboto;
}

.font-3 {
    font-family: Merriweather;
}

.font-4 {
    font-family: Montserrat;
}

.font-5 {
    font-family: Parisienne;
}

.font-bold {
    font-weight: 600;
}

.font-medium {
    font-weight: 400;
}
/**/
/* Common Style */
/**/
/*  */
/* cws parallax */
/*  */
.cws_prlx_section {
    position: relative;
    overflow: hidden;
    z-index: 1;
     background: #fbfbfb
}

.cws_prlx_section .overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
     background: #fbfbfb
}

.cws_prlx_section .overlay.opacity-8 {
    background: rgba(0, 0, 0, 0.8);
}

.cws_prlx_section .overlay.half {
    left: 50%;
}

.cws_prlx_section .overlay.pattern:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     background: #fbfbfb
}

.cws_prlx_section .container,
  .cws_prlx_section .content-prlx {
    position: relative;
    z-index: 12;
     
}

.cws_prlx_layer {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: none;
    max-height: none;
}

.small-section {
    padding: 60px 0;
}
.testimonial-item {
    background: #ffffff;
    padding: 10px;
    padding-bottom: 35px;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
    
}

.testimonial-item .testimonial-top {
    position: relative;
    z-index: 1;
    height: 130px;
}

.testimonial-item .testimonial-top .pic {
    position: relative;
    z-index: 1;
    height: 180px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.testimonial-item .testimonial-top .pic:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.testimonial-item .testimonial-top .pic img {
    position: absolute;
    z-index: -1;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-width: none;
}

.testimonial-item .testimonial-top .author {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 100%;
    min-height: 100px !important;
    min-width: 100px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #f4c831;
    text-align: center;
    vertical-align: bottom;
    background: #fff;
    -webkit-transform: translate3d(-50%, -10px, 0);
    -moz-transform: translate3d(-50%, -10px, 0);
    transform: translate3d(-50%, -10px, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.testimonial-item .testimonial-top .author img {
    vertical-align: baseline;
    margin-top: 25%;
}

.testimonial-item .testimonial-body {
    text-align: center;
    margin-top: 100px;
}

.testimonial-item .testimonial-body .title {
    font-weight: 500;
    margin-bottom: 0;
}

.testimonial-item .testimonial-body .title span {
    font-weight: 600;
    font-family: Handel-Gothic-BT;
    line-height: 3;
}

.testimonial-item .testimonial-body p {
    padding: 0 13%;
    margin-bottom: 20px;
}

.testimonial-item .testimonial-body .testimonial-button {
    color: #424d58;
    font-size: 12px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}

.testimonial-item .testimonial-body .testimonial-new-button {
    border-radius: 20px;
    height: 42px;
    border: 1px solid #c82d3b;
    background: transparent;
    color: #c82d3b;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Handel-Gothic-bt;
    font-size: 14px;
    font-weight: 400;
}
.testimonial-new-button {
    border-radius: 20px;
    height: 42px;
    border: 1px solid #c82d3b;
    background: transparent;
    color: #c82d3b;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Handel-Gothic-bt;
    font-size: 14px;
    font-weight: 400;
}
.testimonial-new-button:hover{
    color: #c82d3b;
}
.testimonial-item .testimonial-body .testimonial-button:hover {
    color: #a9b5c1;
}

.testimonial-item .testimonial-body .testimonial-button:hover:before {
    width: 100%;
}

.testimonial-item:hover .testimonial-top .pic {
    height: 180px;
}

.testimonial-item:hover .testimonial-top .pic img {
    top: 0;
}

.testimonial-item:hover .testimonial-top .author {
    -webkit-transform: translate3d(-50%, -20px, 0);
    -moz-transform: translate3d(-50%, -20px, 0);
    transform: translate3d(-50%, -20px, 0);
}

.flaticon-return13 {
    display: inline-block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 6px;
}

@media (max-width: 420px) {
    .author {
        margin: 0 0 20px 0;
        float: none;
    }

    .comment-text {
        margin-left: 0;
    }

    .comment-container .comment-text:before {
        left: 50%;
        top: -14px;
        -webkit-transform: rotate(-45deg) translateX(-50%);
        -moz-transform: rotate(-45deg) translateX(-50%);
        -ms-transform: rotate(-45deg) translateX(-50%);
        -o-transform: rotate(-45deg) translateX(-50%);
        transform: rotate(-45deg) translateX(-50%);
    }

    .comment-container.white .comment-text:before {
        left: 50%;
        top: -9px;
        -webkit-transform: rotate(90deg) translate(-50%, 50%);
        -moz-transform: rotate(90deg) translate(-50%, 50%);
        -ms-transform: rotate(90deg) translate(-50%, 50%);
        -o-transform: rotate(90deg) translate(-50%, 50%);
        transform: rotate(90deg) translate(-50%, 50%);
    }
}
.about-icon-section{
    margin-top: 25px;
}
.about-us-icon{
    height: 145px;
    width: 145px;
    padding: 5px;
    border-radius: 50%;
}
.about-us-icon img{
    height: 145px;
    width: 145px;
    padding: 5px;
    border-radius: 50%;
}
.about-text{
    vertical-align: middle;
    height: 145px;
    
}
.about-icon-item{
    margin-bottom: 20px;
}
@media (max-width: 767px) {
.about-us-icon{
    height: 145px;
    width: 145px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    margin-left: 31%;
}
    .about-icon-item{
     text-align: center;   
    }
}